* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}

.btn {
	padding-left: 10px;
}

.flash {
	background-color: rgb(152, 221, 251);
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;

}